<div class="popup-content">
    <div class="popup-layout">
        <div *ngIf="!this.loading">
            <h3 class="popup-header">Looks like you're new here</h3>
            <p class="popup-message">Lets get you started</p>
        </div>

        <p style="color: red;">{{error}}</p>

        <div *ngIf="this.loading">
            <h3 class="popup-header">Please wait for the access card to arrive</h3>
            <p class="popup-message">This might take a while, you could just not be so cheap and acctually speed up your
                transaction {{":/"}}, also, buy a bottle on y-28.com</p>
        </div>

        <div *ngIf="this.loading" class="popup-loader">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-loader-2">
                <path d="M21 12a9 9 0 1 1-6.219-8.56" />
            </svg>
        </div>

        <button *ngIf="!this.loading"
            style="width: 100%; padding: 1rem; border-radius: 0.5rem; background: rgb(56, 128, 255); color: white;"
            (click)="register()">
            Get access
        </button>
    </div>
</div>